<!-- =======================ABOUT============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/about/about-desk.jpg" alt="">                ||
========================================================== -->
<section class="about" id="about">
  <h2 class="about-title sr-only">About</h2>
  <ul class="about-list">
    <li class="about-item">
      <p class="about-item-num">01</p>
      <p class="about-item-text">
        Swimming and water sports: try your hand at water skiing
      </p>
    </li>
    <li class="about-item">
      <p class="about-item-num">02</p>
      <p class="about-item-text">Fishing: try to catch your own dinner</p>
    </li>
    <li>
      <p class="about-item-num">03</p>
      <p class="about-item-text">
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </p>
    </li>
    <li class="about-item">
      <p class="about-item-num">04</p>
      <p class="about-item-text">
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </p>
    </li>
  </ul>
  <img
    class="about-ill"
    src="/img/about/about-desk.jpg"
    alt="yacht loung zone"
    width="432"
    height="424"
  />
</section>
