<!-- =====================CATALOG============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/catalog/yaht-1.jpg" alt="">                  ||
========================================================== -->
<section class="catalog" id="catalog">
  <h2 class="catalog-title section-title">
    Choose your dream yacht and sail away into the sunset
  </h2>

  <ul class="catalog-list">
    <li class="catalog-item">
      <img
        class="catalog-item-ill"
        src="/img/catalog/yaht-1.jpg"
        alt="Arrow"
        width="345"
        height="268"
      />
      <h3 class="catalog-item-name">Arrow</h3>
      <p class="catalog-item-type">LUXURY YAHTS</p>
      <dl class="catalog-item-prop">
        <dt>LENGTH</dt>
        <dd>48m(155ft)</dd>
        <dt>BUILDER</dt>
        <dd>Admiral</dd>
        <dt>BUILT</dt>
        <dd>2021</dd>
        <dt>GUESTS</dt>
        <dd>11 in 5 cabins</dd>
        <dt>PRICE</dt>
        <dd>€33,500,000</dd>
      </dl>
    </li>

    <li class="catalog-item">
      <img
        class="catalog-item-ill"
        src="/img/catalog/yaht-2.jpg"
        alt="BENETTI OASIS 40"
        width="345"
        height="268"
      />
      <h3 class="catalog-item-name">BENETTI OASIS 40</h3>
      <p class="catalog-item-type">LUXURY YAHTS</p>
      <dl class="catalog-item-prop">
        <dt>LENGTH</dt>
        <dd>41m (133ft)</dd>
        <dt>BUILDER</dt>
        <dd>Benetti</dd>
        <dt>BUILT</dt>
        <dd>2025</dd>
        <dt>GUESTS</dt>
        <dd>10 in 5 cabins</dd>
        <dt>PRICE</dt>
        <dd>€23,210,000</dd>
      </dl>
    </li>

    <li class="catalog-item">
      <img
        class="catalog-item-ill"
        src="/img/catalog/yaht-3.jpg"
        alt="BELLE ANNA"
        width="345"
        height="268"
      />
      <h3 class="catalog-item-name">BELLE ANNA</h3>
      <p class="catalog-item-type">LUXURY YAHTS</p>
      <dl class="catalog-item-prop">
        <dt>LENGTH</dt>
        <dd>50m(155ft)</dd>
        <dt>BUILDER</dt>
        <dd>ISA</dd>
        <dt>BUILT</dt>
        <dd>2012</dd>
        <dt>GUESTS</dt>
        <dd>12 in 6 cabins</dd>
        <dt>PRICE</dt>
        <dd>€21,000,000</dd>
      </dl>
    </li>
  </ul>

  <button class="btn btn-outlined" type="button">Yacht rental</button>
</section>
