<!-- =======================HEADER===========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
========================================================== -->
<header class="header">
  <a class="logo" href="#">yachtjet</a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-item">
        <a class="main-nav-link" href="#about">About</a>
      </li>
      <li class="main-nav-item">
        <a class="main-nav-link" href="#catalog">Yachts</a>
      </li>
      <li class="main-nav-item">
        <a class="main-nav-link" href="#reviews">Reviews</a>
      </li>
    </ul>
  </nav>
</header>
